* {
    padding: 0;
    margin: 0;
}

.game {
    padding-top: 2em;
    display: flex;
    justify-content: space-evenly;
}

#textDisplay {
    width: 30%;
    text-align: left;
    padding: 1em;
    background: 
    -webkit-linear-gradient(black, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.interactive {
    width: 30%;
    height: 900px;
    text-align: center;
    padding: 1em;
}

.inventory {
    width: 30%;
    height: 900px;
    padding: 1em;
}

#clickButton {
    width: 150px;
    height: 40px;
}

#storeA {
    width: 150px;
    height: 40px;
}

.clickCounterContainer {
    display: flex;
    justify-content: space-between;
}

.superClickCounterContainer {
    display: flex;
    justify-content: space-between;
}